.status-bar {
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.2em;
  #wifi-icon {
    margin-left: -3.9em;
  }
  span {
    color: #fff;
    font-size: 0.625em;
    margin-left: -2.2em;
    font-weight: 300;
  }
}