@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button,
input {
  border: none; }

body {
  background-color: #f2f2f2;
  margin-top: 0.5em; }

.container {
  font-family: 'Open Sans', sans-serif;
  height: 600px;
  width: 100%; }

.container p {
  margin: 0.5em 0;
  text-align: center; }

.container a {
  color: #f18f00;
  text-decoration: none; }

.thick-border {
  border: 1.2px solid #000;
  border-bottom: 2px solid #000; }

.camera,
.circle,
.home-button,
.iphone,
.screen,
.speaker {
  margin: 0 auto; }

.iphone {
  width: 280px;
  height: 580px;
  opacity: 0.8;
  border: 5px solid #c8c8c8;
  border-radius: 32px;
  background: #f9f7f9; }

.circle {
  background: #c8c8c8;
  border-radius: 50%;
  height: 11px;
  position: relative;
  top: -570px;
  width: 11px; }

.camera {
  background: #c8c8c8;
  border-radius: 50%;
  height: 12px;
  left: -48px;
  position: relative;
  top: -566px;
  width: 12px; }

.speaker {
  background: #c8c8c8;
  border-radius: 5px;
  height: 6px;
  position: relative;
  top: -575px;
  width: 61px; }

.home-button {
  background: #c8c8c8;
  border-radius: 50%;
  height: 48px;
  position: relative;
  top: -555px;
  width: 48px;
  z-index: 2; }

.status-bar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0.2em; }

.status-bar #wifi-icon {
  margin-left: -4.5em; }

.status-bar span {
  color: #fff;
  font-size: 0.625em;
  margin-left: -2.7em; }

.screen {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  position: relative;
  top: -564px;
  width: 246px; }

#display {
  display: flex;
  height: 6.6em;
  text-align: right;
  color: #fff;
  background-color: #000;
  justify-content: flex-end;
  align-items: flex-end; }

#display .calculator-output {
  font-family: 'Roboto', Helvetica;
  font-size: 4em;
  font-weight: 100;
  line-height: 0.9;
  margin-left: 0.5em;
  padding-right: 0.1em;
  padding-bottom: 0.2em; }

#display .large {
  font-size: 3.4em; }

#display .medium {
  font-size: 3.0em; }

#display .small {
  font-size: 2.8em; }

.btn-line {
  display: flex;
  margin: 0; }

.btn-line .calc-btn {
  display: flex;
  width: 61px;
  height: 67px;
  padding-top: 8px;
  text-align: center;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  background-color: #f0f0f0;
  align-items: center;
  justify-content: center; }

.btn-line:hover {
  cursor: pointer; }

.btn-line .calc-btn-top {
  background-color: #d8d8d8; }

.btn-line .calc-btn-right {
  color: #fff;
  border-right: 0;
  background-color: #f18f00; }

.btn-line .zero {
  flex-grow: 2; }

.btn-line .calc-btn:hover {
  background-color: #c8c8c8;
  transition: all .6s ease; }

.btn-line .calc-btn-right:hover {
  background-color: #e0790e;
  transition: all .6s ease; }
