@import url("https://fonts.googleapis.com/css?family=Roboto:100,300");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

button,
input {
  border: none;
  margin: 0;
  padding: 0; }

body {
  background-color: #f2f2f2;
  margin-top: 0.5em;
  font: 100 18px 'Roboto'; }

.container {
  height: 600px;
  width: 100%; }

.container p {
  margin: 0.5em 0;
  text-align: center; }

.container a {
  color: #f18f00;
  text-decoration: none; }

.thick-border {
  border: 1.2px solid #000;
  border-bottom: 2px solid #000; }

.camera,
.circle,
.home-button,
.iphone,
.screen,
.speaker {
  margin: 0 auto; }

.iphone {
  width: 280px;
  height: 580px;
  opacity: 0.8;
  border: 5px solid #c8c8c8;
  border-radius: 32px;
  background: #f9f7f9; }

.circle {
  background: #c8c8c8;
  border-radius: 50%;
  height: 11px;
  position: relative;
  top: -570px;
  width: 11px; }

.camera {
  background: #c8c8c8;
  border-radius: 50%;
  height: 12px;
  left: -48px;
  position: relative;
  top: -566px;
  width: 12px; }

.speaker {
  background: #c8c8c8;
  border-radius: 5px;
  height: 6px;
  position: relative;
  top: -575px;
  width: 61px; }

.home-button {
  background: #c8c8c8;
  border-radius: 50%;
  height: 40px;
  position: relative;
  top: -555px;
  width: 40px;
  z-index: 2; }

.status-bar {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  padding: 0.2em; }

.status-bar #wifi-icon {
  margin-left: -3.9em; }

.status-bar span {
  color: #fff;
  font-size: 0.625em;
  margin-left: -2.2em; }

#display {
  align-items: flex-end;
  background-color: #000;
  display: flex;
  color: #fff;
  height: 6.6em;
  justify-content: flex-end;
  text-align: right; }

#display .calculator-output {
  font-family: 'Roboto', Helvetica;
  font-size: 4em;
  font-weight: 100;
  line-height: 0.9;
  margin-left: 0.5em;
  padding-bottom: 0.2em;
  padding-right: 0.1em; }

.screen {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-top: 1px solid #000;
  position: relative;
  top: -564px;
  width: 246px; }

.btn-line {
  display: flex;
  margin: 0; }

.btn-line .calc-btn {
  align-items: center;
  background-color: #f0f0f0;
  border-bottom: 1px solid #000;
  border-right: 1px solid #000;
  display: flex;
  font-size: 18px;
  font-weight: 100;
  height: 67px;
  justify-content: center;
  padding-top: 8px;
  text-align: center;
  width: 61px; }

.btn-line .calc-btn:focus {
  outline: none; }

.btn-line:hover {
  cursor: pointer; }

.btn-line .calc-btn-top {
  background-color: #d8d8d8; }

.btn-line .calc-btn-right {
  background-color: #f18f00;
  border-right: 0;
  color: #fff; }

.btn-line .zero {
  flex-grow: 2; }

.btn-line .calc-btn:hover {
  background-color: #c8c8c8;
  transition: all .5s ease; }

.btn-line .calc-btn-right:hover {
  background-color: #e0790e;
  transition: all .5s ease; }

.auto-scaling-text {
  display: inline-block;
  padding: 0 30px;
  position: absolute;
  right: 0;
  transform-origin: right; }
